<div class="product">
  <%=image_tag "nike"%>
  <p class="title">Our Products</p>
  <div class="list-product">
    <% @products.each do |product|%>
      <div class="product-detail">
        <div class="product-image">
          <%=image_tag(product.image.url)%>
        </div>
        <div class="product-name"><%= product.name%></div>
        <div class="product-description"><%= product.description%></div>
        <div class="product-price">
          <div class="price">$<%= product.price%></div>
          <%= form_with(url: cart_add_path) do |form|%>
            <%= form.hidden_field :id, value: product.id %>
            <%= form.number_field :quantity, value: 1, class: "quantity" %>
            <%= form.submit "ADD TO CART", class: "add-cart", id: "button-cart-#{product.id}"%>
          <% end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
<%= render "cart/cart" %>